<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AP_Servlet_Phase2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetHandler</display-name>
    <servlet-name>GetHandler</servlet-name>
    <servlet-class>com.getpost.GetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHandler</servlet-name>
    <url-pattern>/gethandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostHandler</display-name>
    <servlet-name>PostHandler</servlet-name>
    <servlet-class>com.getpost.PostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostHandler</servlet-name>
    <url-pattern>/posthandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.ServletConcept.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterfaceDemo</display-name>
    <servlet-name>InterfaceDemo</servlet-name>
    <servlet-class>ServletInterfaces.InterfaceDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceDemo</servlet-name>
    <url-pattern>/interface</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.CookieTrackingDemo.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.CookieTrackingDemo.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountProfile</display-name>
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>com.FilterDemo.AccountProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDashboard</display-name>
    <servlet-name>AccountDashboard</servlet-name>
    <servlet-class>com.FilterDemo.AccountDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashboard</servlet-name>
    <url-pattern>/dashboard1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoPage</display-name>
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>com.FilterDemo.InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.FilterDemo.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/dashboard1</url-pattern>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.urlRewriteDemo.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard1</display-name>
    <servlet-name>Dashboard1</servlet-name>
    <servlet-class>com.urlRewriteDemo.Dashboard1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard1</servlet-name>
    <url-pattern>/dashboard2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet3</display-name>
    <servlet-name>LoginServlet3</servlet-name>
    <servlet-class>com.formFieldsTracking.LoginServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet3</servlet-name>
    <url-pattern>/login3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard3</display-name>
    <servlet-name>Dashboard3</servlet-name>
    <servlet-class>com.formFieldsTracking.Dashboard3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard3</servlet-name>
    <url-pattern>/dashboard3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet4</display-name>
    <servlet-name>LoginServlet4</servlet-name>
    <servlet-class>com.HttpSessionDemo.LoginServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet4</servlet-name>
    <url-pattern>/login4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard4</display-name>
    <servlet-name>Dashboard4</servlet-name>
    <servlet-class>com.HttpSessionDemo.Dashboard4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard4</servlet-name>
    <url-pattern>/dashboard4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet5</display-name>
    <servlet-name>LoginServlet5</servlet-name>
    <servlet-class>com.loginLogout.LoginServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet5</servlet-name>
    <url-pattern>/login5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard5</display-name>
    <servlet-name>Dashboard5</servlet-name>
    <servlet-class>com.loginLogout.Dashboard5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard5</servlet-name>
    <url-pattern>/dashboard5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout5</display-name>
    <servlet-name>Logout5</servlet-name>
    <servlet-class>com.loginLogout.Logout5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout5</servlet-name>
    <url-pattern>/logout5</url-pattern>
  </servlet-mapping>
</web-app>